<div class="divform">
<form action="/auth/login" method="POST">
   <h2>Login</h2>
   <p type="Username"><input placeholder="Your username"></input></p>
   <p type="Password"><input placeholder="Your password"></input></p>
   <button>Login!</button>
</form>
{{#if errorMessage}}
   {{errorMessage}}
{{/if}}
</div>