<div class="divform">
<form action="/auth/login" method="POST">
   <h2>Login</h2>
   <p><input name="username" placeholder="Your username"></p>
   <p><input name="password" placeholder="Your password"></p>
   <button type="submit">Login!</button>
</form>
{{#if errorMessage}}
   {{errorMessage}}
{{/if}}
</div>