<div class="divform" ;>
   <form class="loginregister" action="/auth/signup" method="POST">
      <h2 class="formtext1">Register</h2>
      <p ><input name="username" placeholder="Your username"></p>
     
      <p ><input type="password" name="password" placeholder="Your password"></p>
      <button type="submit" class="formbutton">Register</button>
      </form>
   {{#if errorMessage}}
      {{errorMessage}}
   {{/if}}
</div>