<!-- Header -->
<header>
    <a href="#" class="logo"><span>Library</span>App</a>

    <nav class="navbar">
        <a href="#top">Home</a>
        <a href="#features">Features</a>
          
        {{#if logged}}
          <a href="/users/profile">My profile</a>
   <a href="/auth/logout">Logout</a>
    {{else}}
     <a href="/auth/signup">Register</a>
        <a href="/auth/login">Login</a>
   {{/if}}
    
    </nav>
</header>

<section class="home" id="#link1">

    <div class="content">
        <h3>Library<span>App</span></h3>
        <p>Welcome to the wonders of literature with our newApp.
        If you're a new writer publish here and get feedback.
        If you like reading, enjoy you're self, if not please don't watch Telecinco
        </p>
      
    </div>

    <div class="image">
        <img src="https://images-na.ssl-images-amazon.com/images/I/71JVQlxb4+L.jpg" 
        alt="Bookshelf">
    </div>
</section>
<!-- Home end -->

<!-- Features start -->
<section class="features" id="features">

    <h1 class="heading">Features</h1>
    <div class="box-container">
<!-- Boxes -->
        <div class="box">
            <img src="https://s3.amazonaws.com/thumbnails.venngage.com/template/0a6f8035-9611-4e41-bafa-c5e0d0bc091a.png"
            alt="Logo Writers">
            <h3>Users</h3>
            <p>List of all the authors, with acces to their profiles</p>
            <a href="/users" class="btn">Read more</a>
        </div>

            <div class="box">
            <img src="https://us.123rf.com/450wm/sergeypykhonin/sergeypykhonin1809/sergeypykhonin180900041/108230283-registro-registro-logo-o-etiqueta-diario-icono-de-nota-ilustraci%C3%B3n-vectorial.jpg?ver=6" 
            alt="Books">
            <h3>Works</h3>
            <p>List of all the works, and option to filter your preferences.</p>
            <a href="/works" class="btn">Read more</a>
        </div>

            <div class="box">
            <img src="https://media.istockphoto.com/vectors/podium-winners-icon-or-logo-illustration-perfect-use-for-website-vector-id1163239751?b=1&k=6&m=1163239751&s=170667a&w=0&h=WTkbxN5-W3jrVQVKxPG36SPo8e4w588LK6_T7nNocqk=" alt="Ratings">
            <h3>Ratings</h3>
            <p>List of the 5 most rated authors and the 5 most rated works.
                You can filter the works 
            </p>
            <a href="/works/rating" class="btn">Read more</a>
        </div>

    </div>
</section>
<!-- Features end -->
<!-- About Start-->

<!-- About end -->
<!-- Footer start -->
<div class="footer">

    <div class="box-container">

        <div class="box">
            <h3>About us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore nobis recusandae architecto veniam et natus, similique esse aliquam vel commodi!</p>
        </div>

        <div class="box">
            <h3>Ruben Gomez</h3>
            <a href="https://github.com/RubenGH88">
            <img src="/images/github_icon.png" height="25px" width="25px" alt="github icon">
            </a>
            <a href="https://www.linkedin.com/in/ruben-gomez-hurtado/">
            <img src="/images/linkedin_icon.png" height="25px" width="25px" alt="linkedin icon">
            </a>
        </div>

        <div class="box">
            <h3>Angel Tejada</h3>
            <div style="width:25px">
            <a href="https://github.com/Yxeon">
            <img src="/images/github_icon.png" height="25px" width="25px"  alt="github icon">
            </a>
            </div>
            <div style="width:25px">
            <a href="https://www.linkedin.com/in/angel-tejada-fernandez/">
            <img src="/images/linkedin_icon.png" height="25px" width="25px" alt="linkedin icon">
            </a>
            </div>
        </div>

    </div>


</div>
<!-- Footer ends -->