<!-- Header -->
<header>
    <a href="#" class="logo"><span>Library</span>App</a>

    <nav class="navbar">
        <a href="#top">Home</a>
        <a href="#features">Features</a>
        <a href="./auth/signup">Register</a>
        <a href="#link4">Login</a>
    </nav>
</header>
<!-- Header End-->
<!-- Home -->

<section class="home" id="#link1">

    <div class="content">
        <h3>Sample <span>Text</span></h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam odio, magnam cumque repellendus voluptatibus corrupti.</p>
        <a href="#" class="btn">Lorem.</a>
    </div>

    <div class="image">
        <img src="#" alt="imagen1">
    </div>
</section>
<!-- Home end -->

<!-- Features start -->
<section class="features" id="features">

    <h1 class="heading">Texto</h1>
    <div class="box-container">
<!-- Boxes -->
        <div class="box">
            <img src="#" alt="An image">
            <h3>Text 1</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium ipsum maxime eius et! Perspiciatis voluptatem, omnis incidunt laboriosam hic vero!</p>
            <a href="#" class="btn">Read more</a>
        </div>

            <div class="box">
            <img src="#" alt="An image">
            <h3>Text 1</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium ipsum maxime eius et! Perspiciatis voluptatem, omnis incidunt laboriosam hic vero!</p>
            <a href="#" class="btn">Read more</a>
        </div>

            <div class="box">
            <img src="#" alt="An image">
            <h3>Text 1</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium ipsum maxime eius et! Perspiciatis voluptatem, omnis incidunt laboriosam hic vero!</p>
            <a href="#" class="btn">Read more</a>
        </div>

    </div>
</section>
<!-- Features end -->
<!-- About Start-->
<section class="about" id="about">

    <h1 class="heading">About</h1>

    <div class="column">

        <div class="image">
            <img src="#" alt="#">
        </div>

        <div class="content">
            <h3>Nuestro contenido</h3>
            <p>¡Pasate por nuestra colección de autores y libros!</p>
            <div class="buttons">
                <a href="#" class="btn">Autores</a>
                <a href="#" class="btn">Libros</a>
            </div>
        </div>
    </div>
</section>
<!-- About end -->