<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>

  <body>
<header>
    <a href="#" class="logo"><span>Library</span>App</a>

    <nav class="navbar">
        <a href="/users/:id">My profile</a>
        <a href="/users">Users</a>
        <a href="/works/rating">Ratings</a>
        <a href="/logout">Logout</a>
    </nav>
</header>

    {{{body}}}
    <script src="/js/script.js"></script>
  </body>

</html>